<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>

    <add key="CsvPath" value="C:\\xCBLService\\CSV"/>

    <add key="AWCEndpoint" value="https://biztalkprod.woodmark.com/Maestro/WcfService_Maestro.svc"/>
    
    <add key="FTPCSVPath" value="ftp://ftp.meridianww.com/in"/>
    <add key="FTPXMLPath" value="ftp://ftp.meridianww.com/in/XML"/>

    <add key="UserName" value="MerAwcXcblUser1"/>
    <add key="Password" value="AwcMer$xC8L"/>
  </appSettings>

  <connectionStrings>
    <!--PROD Connection String-->
    <!--<add name="XcblService" connectionString="Server=edge.meridianww.com; DataBase = SYST010MeridianXCBLService; User Id = dev_connection; Password = Password88; connection timeout = 0"/>-->
     <add name="XcblService" connectionString="Server=70.96.87.194\WIN-PBSE1AI7NHJ,9000; DataBase = SYST010MeridianXCBLServiceP2; User Id = sa; Password = Mer!d!anIT2019; connection timeout = 60"/> 
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>