<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />-->
    <!--<add key="CsvPath" value="C:\\xCBLService\\CSV" />-->
    <!--<add key="CsvPath" value="ftp://dreamorbit.com/CSV/" />-->
    <!--<add key="XmlPath" value="C:\\xCBLService\\XML" />-->
    <!--<add key="FTPCSVPath" value="ftp://ftp.meridianww.com/in" />
    <add key="FTPXMLPath" value="ftp://ftp.meridianww.com/in/XML" />-->
    <!--Local FTP Config Paths-->
    <!--<add key="FTPCSVPath" value="ftp://dreamorbit.com/CSV/" />-->
    <!--<add key="FTPXMLPath" value="ftp://dreamorbit.com/XML/" />-->

    <add key="CreateLocalFiles" value="1" />
    <!--For creating local file. Make it 0 to disable -->
    <!--<add key="UserName" value="MerAwcXcblUser1" />-->
    <add key="UserName" value="XCBL_Processor" />
    <!--For calling sysGetAuthenticationByUsernameAndPassword() -->
    <!--<add key="Password" value="AwcMer$xC8L" />-->
    <add key="Password" value="M3r!d!1@nXcbl" />
    <!--For calling sysGetAuthenticationByUsernameAndPassword() -->
    <add key="AWCEndpoint" value="https://biztalkuat.woodmark.com/maestrouat/wcfservice_maestrouat.svc" />
    <!-- AWC Address to send Shipping Schedule Response Request-->
    <add key="AWCAction" value="ShippingScheduleResponseProcess" />
    <!-- AWC Action to send Shipping Schedule Response Request-->
    <!--<add key="AWCIsHttpsProtocol" value="0" />-->
    <!--For checking AWC protocol is HTTPS or not. Make it 1 if it is HTTPS(using this to send tem1 instead of tem in Shipping Schedule Request) -->
    <add key="AWCRequisitionTest" value="true" />
    <!-- AWC Action to send Shipping Schedule Response Request-->
    <add key="AWCCallShippingScheduleResponseRequest" value="Y" />
    <!--Chcek for ATD/CAA of TransitDirectionCodedOther field rejection-->
    <add key="TransitDirectionCodedOtherATDCAAIsRejectCSV" value="Y" />
    <add key="IsProductionEnvironment" value="false" />

    <add key="PBSWebServiceUserName" value="vocnew" />
    <add key="PBSWebServicePassword" value="vocnf" />

    <add key="TimerInterval" value="900000" />
    <!-- Timer Interval to check the PBS OUT folder -->

    <add key ="PBSQueryFrequency" value="60" />
    <!-- PBS Query Frequency In MINUTES -->
    <add key ="PBSQueryEndTime" value="" />
    <!-- PBS Query END TIME In HH:MM Format -->
    <add key ="PBSQueryStartTime" value="00:45" />
    <!-- PBS Query START TIME In HH:MM Format -->
    <add key="PBSCacheLogLocation" value="C:\\xCBLService\PBSCachedOrders" />
    <!-- Update to change the PBS Cache log location-->
    <add key="PBSTextFileLocation" value="C:\\xCBLService\PBSText" />
    <!-- Update to change the PBS Text file location-->
    <add key="DeleteTextFileFromOUTFolder" value="Y" />
    <!-- Update to 'N' if do not want to delete -->
    <add key="PBSEnableCachedLog" value="Y" />
    <!-- Update to 'N' if logging not required -->

    <!-- credentials to call API -->
    <!--<add key="Username" value="nfujimoto" />
    <add key="Password" value="Password" />-->
    <!--<add key="Electrolux_xCBL_Username" value="Electrolux_xCBL" />
    <add key="Electrolux_xCBL_Password" value="Feej2?!;A(Ei" />-->
    <add key="Electrolux_xCBL_Username" value="nfujimoto" />
    <add key="Electrolux_xCBL_Password" value="Password" />
    <add key="ClientId" value="default" />

    <!-- M4PL base API Url-->
    <!--<add key="M4PLDevUrl" value="" />-->
    <add key="M4PLProdAPI" value="http://localhost:58888/api" />
    <!--<add key="M4PLScannerAPI" value="" />-->
    <add key="EnableXCBLShippingScheduleForAWCToSyncWithM4PL" value="true" />
    <add key="EnableXCBLRequisitionForAWCToSyncWithM4PL" value="false" />
    <add key="EnableXCBLForElectroluxToSyncWithM4PL" value="true" />
  </appSettings>
  <connectionStrings>
    <!--PROD Connection String-->
    <!--<add name="XcblService" connectionString="Server=DOLAP122; DataBase = M4PL_Staging; Integrated Security=true; connection timeout = 180" />-->
    <!--<add name="XcblService" connectionString="Server=172.30.255.28\MSSQLSERVER,1433; DataBase = M4PL_Dev; User Id = akhil1; Password = Orbit+987*; connection timeout = 0" />-->
    <!-- <add name="XcblService" connectionString="Server=172.30.255.28\MSSQLSERVER,1433; DataBase=M4PL_Dev; User Id=akhil1; Password=Orbit+987*; connection timeout = 0" /> -->
    <add name="XcblService" connectionString="Server=70.96.87.92\SQLDEV01,1433;Database=MeridianXCBL;User ID=sa;Password=Mer!d!anIT2020;" providerName="System.Data.SqlClient connection timeout = 0" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime executionTimeout="600" targetFramework="4.5" maxRequestLength="51200" />
  </system.web>
  <system.serviceModel>
    <client />
    <services>
      <service name="xCBLSoapWebService.MeridianService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="NewBinding0" contract="xCBLSoapWebService.IMeridianService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding0" closeTimeout="04:01:00" openTimeout="04:01:00"
          receiveTimeout="04:10:00" sendTimeout="04:01:00" bypassProxyOnLocal="false"
          hostNameComparisonMode="StrongWildcard" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMeridianService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="52428800" />
        </behavior>
      </serviceBehaviors>
      <!--<endpointBehaviors>
        <behavior name="AjaxBehavior">
          <enableWebScript />
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>-->
    </behaviors>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https" bindingConfiguration="NewBinding0" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>