<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>

    <add key="CsvPath" value="ftp://dreamorbit.com/CSV/"/>

    <add key="AWCEndpoint" value="http://localhost:4940/MeridianService.svc"/>

    <add key="FTPCSVPath" value="ftp://dreamorbit.com/CSV/"/>
    <add key="FTPXMLPath" value="ftp://dreamorbit.com/XML/"/>

    <add key="UserName" value="MerAwcXcblUser1"/>
    <add key="Password" value="AwcMer$xC8L"/>
  </appSettings>

  <connectionStrings>
    <add name="XcblService" connectionString="Server=172.30.255.62\MSSQLSERVER,1433; DataBase=M4PL_Dev; User Id=akhil1; Password=Orbit+987*; connection timeout = 0"/>
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>